.green{
    color:green;
}

.red{
    color:red;
}

.yellow{
    color:yellow;
}

.blue{
    color:blue;
}

.orange{
    color:rgb(226, 135, 60);
}

.red, .blue, .orange, .yellow, .green, .yellowGlow, .greenGlow, .blueGlow, .orangeGlow, .redGlow{

    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
     animation: flickerAnimation 2s infinite; 

}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
    
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

.smallCircle{
    margin:auto;
    /* position: relative; */
    position: absolute;
    height: 120px;
    width: 120px;
    top:44%;
    right:45%;
    background-color: rgb(183, 196, 69);
    border-radius: 50%; 
    cursor: pointer;
  }

  .yellowGlow{
    margin:auto;
    position: absolute;
    height: 120px;
    width: 120px;
    top:44%;
    right:45%;
    border-radius: 50%; 
    background-color: rgb(229, 255, 112);
    cursor:pointer;
  }

  .greenGlow{
    width: 0;
    height: 0;
    top:65%;
    right:43%;
    position: absolute;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 125px solid rgb(110, 182, 62);
  }

  .blueGlow{
    width: 0;
    height: 0;
    top:40%;
    right:56%;
    position: absolute;
    border-top: 80px solid transparent;
    border-left: 125px solid rgb(92, 105, 218);
    border-bottom: 80px solid transparent;
    cursor:pointer;
  }

  .orangeGlow{
    width: 0;
    height: 0;
    top:40%;
    right:34%;
    position: absolute;
	border-top: 80px solid transparent;
    border-right: 125px solid rgb(247, 134, 89);
	border-bottom: 80px solid transparent;
  }

  .redGlow{
    width: 0;
    height: 0;
    position:absolute;
    top:23%;
    right:43%;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 125px solid rgb(70, 45, 45);
}

.triangleDown{
    width: 0;
    height: 0;
    position:absolute;
    top:23%;
    right:43%;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
    border-top: 125px solid rgb(243, 31, 31);
    cursor: pointer;
}


.triangleRight{
    width: 0;
    height: 0;
    top:40%;
    right:56%;
    position: absolute;
	border-top: 80px solid transparent;
	border-left: 125px solid rgb(49, 68, 243);
    border-bottom: 80px solid transparent;
    cursor:pointer;
}

.triangleLeft{
    width: 0;
    height: 0;
    top:40%;
    right:34%;
    position: absolute;
	border-top: 80px solid transparent;
	border-right: 125px solid rgb(250, 92, 30);
    border-bottom: 80px solid transparent;
    cursor: pointer;
}

.triangleUp{
    width: 0;
    height: 0;
    top:65%;
    right:43%;
    position: absolute;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
    border-bottom: 125px solid rgb(51, 124, 3);
    cursor: pointer;
}

.smallCircle:hover{
    background-color: rgb(229, 255, 112);
}

.triangleDown:hover{
    border-top: 125px solid rgb(236, 102, 102);
}

.triangleUp:hover{
	border-bottom: 125px solid rgb(110, 182, 62);
}

.triangleLeft:hover{
    border-right: 125px solid rgb(247, 134, 89);
}

.triangleRight:hover{
    border-left: 125px solid rgb(89, 106, 255);
}

.smallCircle:active, .triangleDown:active, .triangleLeft:active, .triangleRight:active, .triangleUp:active{
    transform: translateY(4px);
}
  
  @media screen and (max-width: 600px){
    .circle {

        margin:auto;
        position: relative;
        /* top:30%; */
        height: 250px;
        width: 250px;
        background-color: #555;
        border-radius: 50%;
      }
    
      .smallCircle{
        margin:auto;
        /* position: relative; */
        position: absolute;
        height: 50px;
        width: 50px;
        top:48%;
        right:45%;
        background-color: rgb(183, 196, 69);
        border-radius: 50%; 
      }

      .triangleDown{
        width: 0;
        height: 0;
        position:absolute;
        top:36%;
        right:43%;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 65px solid rgb(236, 36, 36);

      }

      .triangleUp{
        width: 0;
        height: 0;
        top:60%;
        right:43%;
        position: absolute;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 65px solid rgb(52, 95, 23);
    }
    
    .triangleRight{
        width: 0;
        height: 0;
        top:48%;
        right:60%;
        position: absolute;
        border-top: 30px solid transparent;
        border-left: 65px solid rgb(82, 96, 223);
        border-bottom: 30px solid transparent;
        cursor:pointer;
       
        animation: change 2s step-end both;
    }

    .triangleLeft{
        width: 0;
        height: 0;
        top:48%;
        right:25%;
        position: absolute;
        border-top: 30px solid transparent;
        border-right: 65px solid rgb(250, 92, 30);
        border-bottom: 30px solid transparent;
    }

  }